<div class="inner cover">
  <h1 class="cover-heading">Pocket Trackr</h1>
  <p class="lead">Find out where your money went</p>
  <p class="lead">
    <%= link_to "Sign Up", new_user_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>