/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require sweetalert2
 */

@import "gentelella";
@import "gentelella-custom";

.flash {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 40%;
  font-size: 15px;
}

.nav.child_menu {
  .fa {
    font-size: 15px;
  }
}

.buttons-row {
  margin-bottom: 30px;
}

.x_content {
  dl.dl-horizontal {
    font-size: 15px;
  }
}

.tile_stats_count {
  span.count_top {
    font-size: 15px;
  }
}

.profile-picture {
  width: 150px;
  border-radius: 50%;
  border: 5px solid #1ABB9C;
}


// set background color for date range picker
.daterangepicker.picker_1 {
  .monthselect, .yearselect{
    background-color: #213345;
  }
}
