<footer>
  <div class="pull-right">
    &copy; Pocket Trackr 2017 - <%= link_to "Chakrit Prasatwattana", "https://github.com/chakritp", target: "_blank" %>
  </div>
  <div class="clearfix"></div>
</footer>